.tr1{
    border: rgb(57, 153, 89); 
     background-color: rgb(57, 153, 89); 
    
    
}
table{
border-collapse:collapse;
border: none;
}
.tr2{
    color: rgb(57, 153, 89);
    background-color: gainsboro;
}
.td1{
    padding: 5px;
    
}